.CartPage{
    height: 400px;
    width: 80%;
    background-color: white;
    display: flex;
    /* padding: 20px 50px; */
    padding: 5% 10%;
}
.LineBreak{
    height: 1px;
    /* border: 1px solid black; */
    margin-top:20px ;
    margin-bottom: 20px;
}
.Right{
    margin-left: 50px ;
}
.PromoSvg{
    height: 15px;
    width: 15px;
}
.CartCard{
    width: 80%;

}

.noteSvg{
    height: 15px;
    width: 15px;
}
.leftHead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #0f181f;
}
.RightHead{
        font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #0f181f;
}
.Subtotal p{
    margin: 10px 0;
}
.Subtotal{
    display: flex;
    gap: 55%;
}
.Cartleft{
    width: 600px;

}
.Right{
    width: 300px;
}
.TotalAmmount{
    display: flex;
    gap: 50px
    ;
}
.EstimatedDelivery{
    text-decoration: underline;
}

.TotalAmmount{
    display: flex;
    justify-content: space-between;
}
.CheckoutBtn{
    width: 100%;
   
}
.Promo{
    display: flex;
    gap: 15px;
    margin: 15px 0;
    cursor: pointer;
}
.note{
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.promoField{
    display: flex;
    margin: 15px 0;
}
.PromoText{
    width: 40%;
    border-radius: 0;
    border: 0.5px solid black;
}
.PromoBtn{
    width: 10%;
    border-radius: 0;
    border: 0.5px solid black;
}
.noteArea{
    width: 50%;
    height: 100px;
    margin: 15px 0;
}










/* responsive */



@media (min-width:768px)and (max-width:1024px){
    .CartPage{
        display: flex;
        flex-direction: column;
        height: auto;

    }
    .Cartleft{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .Right{
      margin-top: 40px;
      margin-bottom: 40px;
    }
}
@media(max-width:767.99px){
    .CartPage{
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;

    }
    .Cartleft{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .Right{
      margin-top: 40px;
      margin-bottom: 40px;
    }
}